[Unit]
Description=Prometheus Borg Exporter
After=network-online.target

[Service]
ExecStart=/usr/local/bin/borg_exporter.sh
EnvironmentFile=/etc/borg_exporter.rc
Type=simple
